{% extends 'user/include.html' %}
{% block content %}
<div class="container" style="margin-top: 50px;">
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Username</span>
            <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Password</span>
            <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <span class="login-form-copy">Don't have an account?<a href="{% url 'register' %}"  class="login-form_sign-up">Register</a></span>
        <div class="submit_btn">
            <button class="btn btn-primary submit" type="submit">Login</button>
        </div>

    </form>
</div>
{% endblock content %}