{% extends 'user/include.html' %} {% load static %}{% include
'bookingapp/sidenav.html' %} {% block content %}
<div class="main" style="margin-left: 220px">
  <div class="card" style="margin-top: 80px">
    <h4>{{ doctor.username }}</h4>
    <h1>{{ doctor.first_name }} {{ doctor.last_name }}</h1>
    <p class="title">{{ doctor.specialist }}</p>
    <p>{{ doctor.study }}</p>
    <a href="{% url 'particular-doctor' doctor.id %}"
      ><p><button>See Appointment detail</button></p></a
    >
  </div>
</div>
{% endblock content %}
